
.about-section{
    min-height: 40vh;
    background-color: #f4f5db;
    margin-top: -100px;
    padding-top:150px;

    &__heading{
       color: var(--primary);
       font-size: 2.5rem;
       font-weight: 600;
       text-align: center;
       padding-bottom: 3rem;
    }
}